.all {


  &__title {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--chernyy);

    @include big-desktop {
      font-size: 42px;
      margin-bottom: 20px;
    }

    @include small-tablet {
      font-size: 20px;
    }
  }


  &__wrapper {

    overflow: hidden;
    height: 100vh;
  }


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__item {
    margin: 0;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 6rem;
    height: auto;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--akcent);
    opacity: .5;
    transform: scale(.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;

    @include big-desktop {
      font-size: 4rem;
      height: 240px;
    }

    @include small-tablet {
      font-size: 2rem;
      width: 100%;
      height: 150px;
    }


    &:first-child {
      height: 390px;

      @include small-tablet {
        padding-top: 50px;
        height: 150px;
      }
    }

    &:last-child {
      height: 390px;

      @include small-tablet {
        padding-bottom: 50px;
        height: 150px;
      }
    }

    &:nth-child(2) {
      height: 230px;

      @include small-tablet {
        height: 130px;
      }
    }

    &:nth-child(3) {
      height: 230px;

      @include small-tablet {
        height: 130px;
      }
    }

    &:nth-child(4) {
      height: 230px;

      @include small-tablet {
        height: 130px;
      }

    }

    &:nth-child(5) {
      height: 290px;

      @include small-tablet {
        height: 130px;
      }

    }

    &:nth-child(6) {
      height: 290px;

      @include small-tablet {
        height: 130px;
      }

    }

  }
}
