.footer {
  padding: 52px 0;
  background: var(--chernyy);

  @include small-tablet {
    padding: 32px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 140px;

    @include big-desktop {
      gap: 10px;
      align-items: flex-end;
    }

    @include small-tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 60px;

    @include big-desktop {
      width: 159px;
      height: 34px;
    }

    @include small-tablet {
      margin-bottom: 32px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include big-desktop {
      flex-direction: column;
    }
  }

  &__politics {
    @include big-desktop {
      display: none;
    }

    &--active {
      display: none;
      @include big-desktop {
        display: block;
      }

      @include small-tablet {
        display: none;
      }
    }

    &--accent {
      display: none;

      @include small-tablet {
        display: block;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 720px;
    width: 100%;

    @include big-desktop {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 76px;
      height: 100%;
    }

    @include small-tablet {
      align-items: flex-start;
      gap: 32px;
    }
  }

  &__cop {
    margin: 0;
    margin-bottom: 17px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: var(--belyy);

    @include small-tablet {
      margin-bottom: 17px;
      font-size: 12px;
    }


  }

  &__link {
    display: block;
    margin-bottom: 7px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: var(--belyy);

    &:last-child {
      margin: 0;
    }

    @include small-tablet {
      margin-bottom: 4px;
      font-size: 12px;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--belyy);
    opacity: 0.5;

    @include big-desktop {
      margin-bottom: 20px;
    }

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 16px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    color: var(--belyy);

    @include big-desktop {
      font-size: 24px;
      margin-bottom: 12px;
    }

    @include small-tablet {}
  }


  &__mail {
    display: block;
    margin-bottom: 46px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    color: var(--belyy);

    @include big-desktop {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__socials {
    display: flex;
    gap: 8px;

    @include big-desktop {
      margin-bottom: 78px;
    }

    @include small-tablet {
      margin-bottom: 32px;
    }
  }

  &__social {
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background: #08c;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    &:hover {
      background: #0074b8;
    }

    &:nth-child(2) {
      background: #25d366;

      &:hover {
        background: #11bf52;
      }
    }
  }

  &__btn {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: var(--chernyy);
    border-radius: 8px;
    padding: 15px 32px;
    background: var(--belyy);
    transition: all .3s ease-in-out;

    &:hover {
      background: var(--akcent);
      color: var(--belyy);
    }

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__toup {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(255, 255, 255, .5);


    @include big-desktop {
      font-size: 18px;
      gap: 12px;
    }

    @include small-tablet {
      font-size: 12px;
      gap: 12px;
    }


    &::after {
      content: '';
      display: block;
      min-width: 28px;
      min-height: 28px;
      background-image: url(../img/toup.svg);
      background-size: cover;

      @include small-tablet {
        min-width: 20px;
        min-height: 20px;
      }
    }
  }
}
