.header {
  padding-top: 16px;
  position: relative;
  z-index: 5;



  &__content {
    padding: 20px;
    border-radius: 14px;
    background: var(--belyy);
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include small-tablet {
      background: var(--fonovyy);
      padding: 0;
    }
  }

  &__logo {
    display: block;
    img {
      @include small-tablet {
        display: block;
        width: 85px;
        height: 19px;
        object-fit: contain;
      }
    }
  }

  &__list {
    display: flex;
    gap: 16px;
    align-items: center;

    @include big-desktop {
      display: none;
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--chernyy);
  }

  &__mail {
    display: block;
    margin-right: 32px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--chernyy);

    @include big-desktop {
      display: none;
    }
  }

  &__phone {
    display: block;
    margin-right: 64px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--chernyy);

    @include big-desktop {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__tel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background: #08c;
    transition: all .3s ease-in-out;

    &:hover {
      background: #0074b8;
    }

    @include small-tablet {
      width: 28px;
      height: 28px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__wat {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background: #25d366;
    transition: all .3s ease-in-out;

    &:hover {
      background: #11bf52;
    }

    @include small-tablet {
      width: 28px;
      height: 28px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }


  &__btn {
    padding: 17px 19px;
    border-radius: 8px;
    background: var(--chernyy);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: var(--belyy);
    transition: all .3s ease-in-out;

    &:hover {
      background: var(--akcent);
      color: var(--belyy);
    }

    @include small-tablet {
      display: none
    }
  }

  .burger {
    @include burger;
    display: none;
    margin-left: 32px;

    @include big-desktop {
      display: block;
    }

    @include small-tablet {
      margin-left: 23px;
    }
  }



}
