.othcet {
  padding-bottom: 160px;
  position: relative;

  @include big-desktop {
    padding-bottom: 100px;
  }

  @include small-tablet {
    padding-bottom: 60px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 680px;
    bottom: -500px;
    left: 0;
    background-image: url(../img/bag.svg);
    z-index: 3;

    @include big-desktop {
      display: none;
    }
  }

  &__title {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--chernyy);

    span {
      color: var(--akcent);
    }

    @include big-desktop {
      font-size: 42px;
      margin-bottom: 44px;
      text-align: start;
    }

    @include small-tablet {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__content {
    position: relative;
    height: 560px;

    @include big-desktop {
      height: auto;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 1111px;
    padding: 4px 32px 4px 4px;
    background: var(--belyy);
    position: absolute;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--chernyy);

    @include big-desktop {
      position: static;
      margin-bottom: 12px;
      font-size: 18px;
    }

    @include small-tablet {
      font-size: 12px;
      gap: 8px;
      width: max-content;
      margin-bottom: 4px;

      &:nth-child(3) {
        margin-bottom: 20px;
      }
    }

    &::before {
      content: '';
      display: block;
      min-width: 52px;
      min-height: 52px;
      background-image: url(../img/trafic-svg-1.svg);
      background-size: cover;

      @include small-tablet {
        min-width: 20px;
        min-height: 20px;
      }
    }

    &:nth-child(1) {
      top: 270px;
      left: 100px;
    }

    &:nth-child(2) {
      top: 0px;
      left: 40%;
    }

    &:nth-child(3) {
      top: 360px;
      right: 100px;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    z-index: 3;

    @include big-desktop {
      position: static;
      transform: translateX(0%);
    }
  }

  &__circle {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%) rotate(0deg);
    z-index: -1;


    @include big-desktop {
      display: none;
    }

    &:nth-child(5) {
      animation: spin2 4s linear infinite;
    }

    &:nth-child(6) {
      top: 90px;
      animation: spin 4s linear infinite;
    }

    &:nth-child(7) {
      top: 130px;
      animation: spin2 4s linear infinite;
    }
  }
}
