.top {
  padding-bottom: 195px;
  position: relative;

  @include big-desktop {
    padding-bottom: 100px;
  }

  @include small-tablet {
    padding-bottom: 84px;
  }

  &__title {
    position: relative;
    z-index: 6;
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--chernyy);

    @include big-desktop {
      font-size: 42px;
      margin-bottom: 32px;
    }

    @include small-tablet {
      margin-bottom: 16px;
      font-size: 20px;
    }
  }

  &__descr {
    width: max-content;
    border-radius: 50px;
    padding: 14px 44px;
    background: var(--akcent);
    margin: 0 auto;
    margin-bottom: 100px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--belyy);

    @include big-desktop {
      font-size: 20px;
    }

    @include small-tablet {
      margin-bottom: 28px;
      width: 100%;
      padding: 6px 42px;
      font-size: 12px;
    }
  }


  &__content {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
  }

  &__grup {
    position: absolute;
    z-index: -1;
    opacity: 0;

    @include big-desktop {
      width: 329px;
      height: 251px;
      object-fit: contain;

      @include small-tablet {
        width: 137px;
        height: 105px;
      }
    }

    &:nth-child(1) {
      left: 0;
      top: 0;


    }

    &:nth-child(3) {
      right: 0;
      top: 0;
    }

    &--three {
      display: block;
      margin: 0 auto;
      opacity: 0;

      @include big-desktop {
        width: 329px;
        height: 251px;
        object-fit: contain;

      }

      @include small-tablet {
        width: 137px;
        height: 105px;
      }
    }
  }

  &__box {
    max-width: 864px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 6;
  }

  &__accent {
    opacity: 0;
    position: absolute;
    left: 50.7%;
    bottom: -82px;
    transform: translateX(-50%) scale(.3);

    @include big-desktop {
      width: 110px;
      height: 150px;
      object-fit: contain;
      bottom: -14px;
      left: 50.3%;
    }

    @include small-tablet {
      width: 46px;
      height: 63px;
      bottom: -6px;
      left: 50.3%;
    }
  }

  &__radial {
    position: absolute;
    z-index: -10;

    &--one {
      left: 0;
      bottom: 0;

      @include big-desktop {
        left: -300px;
        width: 820px;
        height: 820px;
      }

      @include small-tablet {
        left:  -50px;
        width: 210px;
        height: 210px;
      }

    }

    &--two {
      right: 0;
      bottom: -200px;
      transform: translate3d(0px, 0px, 0px) rotate(90deg);

      @include big-desktop {
        right: -300px;
        width: 820px;
        height: 820px;
      }

      @include small-tablet {
        bottom: -100px;
        right: -50px;
        width: 210px;
        height: 210px;
      }
    }
  }


}
