.trafic {
  margin-bottom: 160px;

  @include big-desktop {
    margin-bottom: 100px;
  }

  @include small-tablet {
    margin-bottom: 60px;
  }

  &__title {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--chernyy);

    @include big-desktop {
      font-size: 42px;
      margin-bottom: 44px;
    }

    @include small-tablet {
      font-size: 20px;
      margin-bottom: 28px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include big-desktop {
      flex-direction: column;
    }
  }

  &__box {
    padding: 52px;
    position: relative;
    overflow: hidden;
    max-width: 912px;
    height: 705px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include big-desktop {
      height: 446px;
      padding: 32px;
      align-items: flex-start;
    }

    @include small-tablet {
      height: 340px;
      padding: 20px;
      align-items: center;
    }

    &:nth-child(1) {
      background: var(--akcent);
      background-image: url(../img/trafic-bg-1.svg);

    }

    &:nth-child(2) {
      background: var(--chernyy);
      background-image: url(../img/trafic-bg-2.svg);

      .trafic__accent {
        box-shadow: 0 6px 30px 0 rgba(145, 145, 145, 0.3);
        background: #fadddd;

        color: #e31b1f;

        &::before {
          background-image: url(../img/trafic-svg-2.svg);
        }
      }
    }
  }

  &__accent {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 70px;
    padding: 8px 16px 8px 8px;
    box-shadow: 0 6px 30px 0 rgba(145, 145, 145, 0.3);
    background: #cde9dd;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #0cb46d;

    &::before {
      content: '';
      display: block;
      min-width: 52px;
      min-height: 52px;
      background-image: url(../img/trafic-svg-1.svg);
      background-size: cover;

      @include small-tablet {
        min-width: 20px;
        min-height: 20px;
      }

    }

    @include big-desktop {
      font-size: 24px;
    }

    @include small-tablet {
      gap: 4px;
      font-size: 12px;
      margin-bottom: 8px;
    }
  }

  &__text {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    color: var(--chernyy);
    border-radius: 1111px;
    padding: 16px 24px;
    background: var(--belyy);

    @include big-desktop {
      font-size: 24px;
    }

    @include small-tablet {
      padding: 6px 12px;
      font-size: 12px;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: block;

    @include big-desktop {
      width: 238px;
      height: 316px;
      object-fit: contain;
      left: inherit;
      right: 32px;
      transform: translateX(0%) !important;
    }

    @include small-tablet {
      right: 50%;
      transform: translateX(50%) !important;
      width: 160px;
      height: 218px;
    }
  }
}
