<section class="about-hero">
  <div class="container">
    <div class="about-hero__content">
      <h1 class="about-hero__title">
        Компания по продвижению сайтов через поисковый трафик
      </h1>
      <p class="about-hero__accent">
        Наша цель увеличить продажи бизнеса заказчика
      </p>
      <div class="about-hero__inner">
        <div class="about-hero__item">
          <p class="about-hero__subtitle">
            15
          </p>
          <p class="about-hero__descr">
            в SEO продвижении
          </p>
        </div>
        <div class="about-hero__item">
          <p class="about-hero__subtitle">
            100+
          </p>
          <p class="about-hero__descr">
            клиентов уже используют
          </p>
        </div>
      </div>
      <video class="about-hero__video" playsinline preload="metadata" poster="img/poster.webp">
        <source src="/" type="video/mp4; codecs=hvc1">
        <source src="/" type="video/webm">
      </video>
    </div>
  </div>
</section>
