<section class="about-section">
  <div class="container">
    <div class="about-section__content">
      <img loading="lazy" src="img/shild-circle-1.svg" class="about-section__circle image" width="1079" height="1079"
        alt="svg">
      <img loading="lazy" src="img/shild-circle-2.svg" class="about-section__circle  image" width="979" height="979"
        alt="svg">
      <img loading="lazy" src="img/shild-circle-3.svg" class="about-section__circle  image" width="879" height="879"
        alt="svg">
      <div class="about-section__item">
        <p class="about-section__subtitle">
          Стратегия
        </p>
        <p class="about-section__descr">
          В RA-SVET.PRO мы предлагаем комплексные услуги, которые подходят для всех бизнесов, имеющих спрос в интернете. Наша
          стратегия включает увеличение посещаемости сайта до 100+ человек уже через три недели. Мы стремимся к тому, чтобы каждый
          клиент получал постоянный поток теплых клиентов без затрат на рекламу.
        </p>
      </div>
      <div class="about-section__item">
        <p class="about-section__subtitle">
          Миссия
        </p>
        <p class="about-section__descr">
          Наша миссия - помочь вашему бизнесу процветать, используя силу контент-маркетинга и SEO. Мы верим, что качественный
          контент - это ключ к привлечению и удержанию клиентов, и наша команда экспертов работает неустанно, чтобы создавать
          информационные статьи, которые привлекают трафик из поисковой выдачи Яндекса и Google.
        </p>
      </div>
      <div class="about-section__inner">
        <h2 class="about-section__title">
          О компании
        </h2>
        <p class="about-section__text">
          RA-SVET.PRO - это ведущая компания в области поискового контент-маркетинга, которая помогает бизнесам всех
          размеров и из
          различных отраслей привлекать постоянный поток теплых клиентов без затрат на рекламу. Мы на рынке с 2018 года,
          наш
          основатель, Динар Казыханов, является SEO-специалистом с более чем 15-летним опытом.
        </p>
      </div>
    </div>
  </div>
</section>
