<section class="about">
  <div class="container">
    <div class="about__content">
      <div class="about__box">
        <p class="about__name">
          Динар Казыханов
        </p>
        <p class="about__poz">
          Основатель агентства RA-SVET
        </p>
        <img loading="lazy" src="img/about-svg.svg" class="image" width="32" height="32" alt="svg">
        <p class="about__text">
          Начните получать стабильный трафик из поиска Яндекса. Без постоянной работы над сайтом, вечных обещаний
          сеошников,
          потери денег на тестировании рабочих гипотез.
        </p>
      </div>
      <div class="about__inner">
        <p class="about__subtitle">
          TRIM
        </p>
        <p class="about__descr">
          Технология получения трафика из поиска Яндекс через улучшение поведенческих факторов защищенная от фильтров со
          стороны
          поисковиков
        </p>
        <div class="about__wrapper">
          <img loading="lazy" src="img/lines.svg" class="about__svg image" width="672" height="327" alt="svg">
          <img loading="lazy" src="img/processer.webp" class="about__processer image" width="191" height="191" alt="img">
          <img loading="lazy" src="img/aboit-item-1.svg" class="about__item image" width="66" height="66" alt="svg">
          <img loading="lazy" src="img/aboit-item-2.svg" class="about__item image" width="66" height="66" alt="svg">
          <img loading="lazy" src="img/aboit-item-3.svg" class="about__item image" width="66" height="66" alt="svg">
          <img loading="lazy" src="img/aboit-item-4.svg" class="about__item image" width="66" height="66" alt="svg">
          <img loading="lazy" src="img/aboit-item-5.svg" class="about__item image" width="66" height="66" alt="svg">
        </div>

      </div>
    </div>
  </div>
</section>
