<section class="achiev">
  <div class="container">
    <div class="achiev__content">
      <div class="achiev__inner">
        <h2 class="achiev__title">
          Достижения
        </h2>
        <p class="achiev__text">
          В RA-SVET.PRO мы гордимся нашими достижениями и опытом работы в различных отраслях. У нас есть успешные кейсы в
          транспортной сфере, в сфере продажи спецтехники и тракторов, в медицинской сфере, в юридическом бизнесе, в продуктовых
          бизнесах, в онлайн-школах и многих других. Мы стремимся к тому, чтобы каждый клиент был удовлетворен нашими услугами и
          видел реальные результаты от нашей работы.
        </p>
      </div>
      <div class="achiev__box">
        <ul class="list-reset achiev__list">
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              Здравоохранение
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              Технологии
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              Сфера услуг
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              Промышленность
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              Обучение
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              СМИ
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              Торговля
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
          <li class="achiev__list-item">
            <span class="achiev__list-text">
              Наука
            </span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
            <span class="achiev__line"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="achiev__wrapper">
      <div class="achiev__item">
        <p class="achiev__subtitle">
          Постоянное развитие
        </p>
        <p class="achiev__descr">
          В RA-SVET.PRO мы стремимся к постоянному развитию и улучшению наших услуг. Мы всегда следим за последними тенденциями в
          SEO и контент-маркетинге, чтобы предлагать нашим клиентам самые эффективные и актуальные решения.
        </p>
      </div>
      <div class="achiev__item">
        <p class="achiev__subtitle">
          Наш подход
        </p>
        <p class="achiev__descr">
          Наш подход к работе основан на прозрачности и открытости. Мы ведем все задачи в Asana, демонстрируем вам в Trello, чтобы
          в режиме реального времени вы могли следить за прогрессом вашего проекта. Мы верим, что наша работа должна быть видна и
          понятна для наших клиентов.
        </p>
      </div>
    </div>
  </div>
</section>
