<section class="algoritm">
  <div class="container">
    <div class="algoritm__content">
      <h2 class="algoritm__title">
        Работают 2 умных алгоритма
      </h2>
      <div class="algoritm__inner">
        <div class="algoritm__box algoritm__box--one">
          <p class="algoritm__subtitle">
            Заход на продвигаемый сайт для улучшения ПФ показателей
          </p>
          <p class="algoritm__item">Переход на продвигаемую страницу</p>
          <p class="algoritm__item">Выполнение действий, как реальный человек</p>
          <p class="algoritm__accent">
            Итог
          </p>
          <p class="algoritm__text">
            Алгоритмы Яндекса считывают и данная  страница идет в топ по нужному ключевому  слову, а конкуренты идут вниз
          </p>
        </div>
        <div class="algoritm__wrapper">
          <div class="algoritm__box algoritm__box--two">
            <p class="algoritm__subtitle">
              Заход к конкурентам
              для понижения их позиций
            </p>
            <p class="algoritm__item">Делаем в случае очень сильной конкуренции!</p>
            <p class="algoritm__item">Увеличиваем показатели отказов и ухудшаем
            другие поведенческие факторы конкурентов</p>
            <p class="algoritm__accent">
              Итог
            </p>
            <p class="algoritm__text">
              Снижается рейтинг конкурентов
              по поисковому запросу и они <br> падают в выдаче
            </p>
          </div>
          <div class="algoritm__block">
            Подключаем интеллектуальное ссылочное  продвижение c авторитетных ресурсов
            для увеличения ссылочной массы
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
