<section class="all">
  <div class="container">
    <h2 class="all__title">
      Пробовали практически все, но позиции постоянно скачут или не растут
    </h2>
    <div class="all__pin">
      <div class="all__wrapper">
        <div class="all__content">
          <p class="all__item">
            Собрано семантическое ядро
          </p>
          <p class="all__item">
            Написаны десятки статей
          </p>
          <p class="all__item">
            Закуплены ссылки
          </p>
          <p class="all__item">
            Сделана перелинковка
          </p>
          <p class="all__item">
            Увеличена скорость загрузки <br>
            и сделана мобильная версия сайта

          </p>
          <p class="all__item">
            Прописаны метатеги (тайтл, дескрипшн)
          </p>
          <p class="all__item">
            И десятки других действий
          </p>

        </div>
      </div>
    </div>

  </div>



</section>
