<section class="contacts">
  <div class="container">
    <div class="contacts__content">
      <div class="contacts__block">
        <p class="contacts__name">
          Алина Красавина
        </p>
        <p class="contacts__poz">
          Менеджер агентства RA-SVET
        </p>
      </div>
      <div class="contacts__wrapper">
        <h2 class="contacts__title">
          Работаем официально и постоянно на связи
        </h2>
        <p class="contacts__descr">
          заключаем договор и предоставляем все закрывающие документы
        </p>
        <div class="contacts__box">
          <p class="contacts__subtitle">
            Проект-менеджер постоянно
            <span>на связи 24/7</span>
          </p>
          <p class="contacts__text">
            Для удобства создаем рабочий чат  <br>
            в WhatsApp или Telegram
          </p>
          <div class="contacts__btns">
            <a href="" class="contacts__link">Написать в WhatsApp</a>
            <a href="" class="contacts__link">Написать в Telegram</a>
          </div>
          <p class="contacts__subtitle">
            Отчеты <span>каждые 3 дня</span>
          </p>
          <div class="contacts__inner">
            <img loading="lazy" src="img/contacts-svg-1.svg" class="image" width="66" height="66" alt="svg">
            <img loading="lazy" src="img/contacts-svg-2.svg" class="image" width="66" height="66" alt="svg">
            <img loading="lazy" src="img/contacts-svg-3.svg" class="image" width="66" height="66" alt="svg">
            <img loading="lazy" src="img/contacts-svg-4.svg" class="image" width="66" height="66" alt="svg">
            <img loading="lazy" src="img/contacts-svg-5.svg" class="image" width="66" height="66" alt="svg">
          </div>
          <p class="contacts__text">
            При необходимости предоставляем рекомендации по повышению конверсии, чтобы на каждый заход вы получали
            больше прибыли
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
