<section class="contacts-page">
  <div class="container">
    <h1 class="contacts-page__title">
      Контакты компании

    </h1>
    <div class="contacts-page__content">
      <div class="contacts-page__map" id="map"></div>
      <div class="contacts-page__inner">
        <p class="contacts-page__descr">
          Если вопрос срочный, позвоните на телефон
        </p>
        <p class="contacts-page__link">
          +7 499 346-73-01
        </p>
        <p class="contacts-page__descr">
          Для тех, кто привык к классическому способу связи
        </p>
        <p class="contacts-page__link">
          sales-department@ra-svet.pro
        </p>
        <p class="contacts-page__descr">
          Адрес
        </p>
        <p class="contacts-page__link">
          г. Уфа, ул. Зорге 35, офис 23
        </p>
        <p class="contacts-page__text">
          ИП Казыханов Д.Д. <br>
          ОГРНИП 9443583459359348759
        </p>
        <p class="contacts-page__accent">
          Пишите и звоните по любому вопросу привлечения клиентов на сайт
        </p>
        <button class="btn-reset contacts-page__btn" data-graph-path="modal2">Задать вопрос</button>
      </div>
    </div>
  </div>
</section>
