<section class="count">
  <div class="container">
    <h2 class="count__title">
      Давайте посчитаем экономическую выгоду
    </h2>
    <p class="count__descr">
      Надо получить 2000 переходов на сайт
    </p>
    <div class="count__content">
      <div class="count__box">
        <p class="count__subtitle">
          Платная реклама
        </p>
        <div class="count__inner">
          <div class="count__item">
            <p class="count__subtext">
              Потрачено на клики
            </p>
            <p class="count__subprice count__subprice--one">
              0
            </p>
          </div>
          <div class="count__item">
            <p class="count__subtext">
              Цена клика
            </p>
            <p class="count__subprice count__subprice--two">
              0
            </p>
          </div>
        </div>
        <p class="count__quest">
          И это при маленькой цене клика, а если она больше?
        </p>
      </div>

      <div class="count__box">
        <p class="count__subtitle">
          Наша работа
        </p>
        <p class="count__accent">
          60 000-80 000 Р
        </p>
        <p class="count__quest">
          И это при маленькой цене клика, а если она больше?
        </p>
      </div>
    </div>
    <div class="count__wrapper">
      <div class="count__from">
        <h3 class="count__wrapper-title">
          Получите точный расчет стоимости продвижения
        </h3>
        <form class="count__form-wrap">
          <input type="tel" class="input-reset count__input" id="phone3" placeholder="(___)___-__-__">
          <button class="btn-reset count__btn">Рассчитать стоимость</button>
        </form>
        <p class="count__caption">Нажимая кнопку “Рассчитать стоимость” вы соглашаетесь с условиями политики
          конфиденциальности</p>
      </div>
      <div class="count__block">
        <p class="count__block-title">
          Для точного расчета стоимости, нужно предоставить:
        </p>
        <ul class="list-reset count__list">
          <li class="count__list-item">
            Список ключевых слов продвижения
          </li>
          <li class="count__list-item">
            Регион продвижения
          </li>
          <li class="count__list-item">
            Возраст вашего сайта
          </li>
          <li class="count__list-item">
            Доступ к сайту для проведения внутреннего аудита
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
