<section class="feedback">
  <div class="container">
    <h1 class="feedback__title">
      Лучше всего об успехах скажут <span>результаты из отзывов клиентов</span>
    </h1>
    <div class="feedback__content">
      <div class="feedback__item">
        <img loading="lazy" src="img/feedback-1.webp" class="image" width="600" height="336" alt="img">
        <div class="feedback__inner">
          <img loading="lazy" src="img/feedback-svg-1.svg" class="feedback__svg image" width="205" height="40" alt="svg">
          <p class="feedback__subtitle">
            Строительная компания ПанельТек
          </p>
          <p class="feedback__text">
            Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и реализовано более 100
            статей.Был разработан контент план для безопасного и постепенного увеличения
          </p>
          <a href="#" class="feedback__link">Смотреть кейс</a>
        </div>
      </div>
      <div class="feedback__item">
        <img loading="lazy" src="img/feedback-1.webp" class="image" width="600" height="336" alt="img">
        <div class="feedback__inner">
          <img loading="lazy" src="img/feedback-svg-1.svg" class="eedback__svg image" width="205" height="40" alt="svg">
          <p class="feedback__subtitle">
            Строительная компания ПанельТек
          </p>
          <p class="feedback__text">
            Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и реализовано
            более 100
            статей.Был разработан контент план для безопасного и постепенного увеличения
          </p>
          <a href="#" class="feedback__link">Смотреть кейс</a>
        </div>
      </div>
      <div class="feedback__item">
        <img loading="lazy" src="img/feedback-1.webp" class="image" width="600" height="336" alt="img">
        <div class="feedback__inner">
          <img loading="lazy" src="img/feedback-svg-1.svg" class="eedback__svg image" width="205" height="40" alt="svg">
          <p class="feedback__subtitle">
            Строительная компания ПанельТек
          </p>
          <p class="feedback__text">
            Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и реализовано
            более 100
            статей.Был разработан контент план для безопасного и постепенного увеличения
          </p>
          <a href="#" class="feedback__link">Смотреть кейс</a>
        </div>
      </div>
    </div>
  </div>
</section>
