<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__box">
        <a href="/" class="footer__logo">
          <img loading="lazy" src="img/logo-2.svg" class="image" width="263" height="56" alt="logo">
        </a>
        <p class="footer__cop">
          ©TRIM 2023 г.
        </p>
        <a href="#" class="footer__link">Политика конфиденциальности</a>
        <a href="#" class="footer__link">Пользовательское соглашение</a>
      </div>
      <div class="footer__contacts">
        <p class="footer__name">
          Связаться с нами
        </p>
        <a href="tel:89031898803" class="footer__phone">8(903) 189-88-03</a>
        <a href="mailto:seo@yandex.ru" class="footer__mail">seo@yandex.ru</a>
        <div class="footer__socials">
          <a href="#" class="footer__social">
            <img loading="lazy" src="img/tel.svg" class="image" width="24" height="24" alt="svg">
          </a>
          <a href="#" class="footer__social">
            <img loading="lazy" src="img/wat.svg" class="image" width="24" height="24" alt="svg">
          </a>
        </div>
      </div>
      <button class="btn-reset footer__btn" data-graph-path="modal">Оценить сайт на пригодностьs</button>
      <a href="#top" class="footer__toup">Вернуться наверх</a>
    </div>
  </div>
</footer>
