<section class="for" >
  <div class="container">
    <div class="for__content">
      <div class="for__inner">
        <h2 class="for__title">
          Кому подходит
        </h2>
        <div class="for__items">
          <span class="for__item">Любая тематика</span>
          <span class="for__item">Любая конкуренция за позиции</span>
        </div>
        <p class="for__descr">
          Отлично себя показывает на:
        </p>
        <p class="for__accent">
          Корпоративных сайтах
        </p>
        <p class="for__accent">
          Многостраничных сайтах услуг и интернет-магазинах
        </p>
      </div>
      <div class="for__box" >
        <p class="for__subtitle">
          Технология обкатана <br>
          на 30+ проектах в разных сферах
        </p>
        <ul class="list-reset for__list">
          <li class="for__list-item">
            <span class="for__list-text">
              Здравоохранение
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
          <li class="for__list-item">
            <span class="for__list-text">
              Технологии
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
          <li class="for__list-item">
            <span class="for__list-text">
              Сфера услуг
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
          <li class="for__list-item">
            <span class="for__list-text">
              Промышленность
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
          <li class="for__list-item">
            <span class="for__list-text">
              Обучение
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
          <li class="for__list-item">
            <span class="for__list-text">
              СМИ
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
          <li class="for__list-item">
            <span class="for__list-text">
              Торговля
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
          <li class="for__list-item">
            <span class="for__list-text">
              Наука
            </span>
            <span class="for__line"></span>
            <span class="for__line"></span>
            <span class="for__line"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="for__wrapper">
      <div class="for__box-title">
        Обязательно
        стоит попробовать
      </div>
      <ul class="list-reset for__sublist">
        <li class="for__subitem">
          Кто получает мало трафика
        </li>
        <li class="for__subitem">
          Кто платит большую цену за клик в рекламе, которая не окупается
        </li>
        <li class="for__subitem">
          У кого выходит дорогая цена лида(заявки)
        </li>
      </ul>
    </div>
  </div>
</section>
