<section class="from">
  <div class="container">
    <div class="form__content">
      <div class="form__inner">
        <h2 class="form__title">
          Не сможем взять всех
        </h2>
        <p class="form__text">
          До начала проанализиуем и честно скажем
          пригоден он или нет к продвижению
        </p>
          <img loading="lazy" src="img/form-img.webp" class="form__img image" width="945" height="580" alt="img">
        <p class="form__descr">
          Если не готов - предложим доработать и только потом приступаем к поведенческому ИИ продвижению
        </p>
        <form class="form__box">
          <input type="tel" class="input-reset form__input" id="phone2" placeholder="(___)___-__-__">
          <button class="btn-reset form__btn">Проверить сайт</button>
        </form>
        <p class="form__caption">
          Нажимая кнопку “Проверить сайт” вы соглашаетесь с условиями политики конфиденциальности
        </p>
      </div>

    </div>
  </div>
</section>
