<section class="free">
  <div class="container">
    <div class="free__content">
      <img loading="lazy" src="img/free-circle-1.svg" class="about-section__circle image" width="828" height="828"
        alt="svg">
      <img loading="lazy" src="img/free-circle-2.svg" class="about-section__circle  image" width="752" height="752"
        alt="svg">
      <div class="free__block">
        <h2 class="free__title">
          Бесплатная консультация
        </h2>
        <p class="free__text">
          Мы предлагаем бесплатную консультацию и аудит вашего проекта, включая стратегию привлечения трафика без рекламного
          бюджета. Наша команда специалистов проведет оптимизацию вашего сайта под поисковые системы, соберет семантическое ядро
          (запросы), опубликует статьи на сайте, контролирует работу сайта по всем показателям и предоставит еженедельные отчеты
          по динамике роста трафика.
        </p>
        <div class="free__line"></div>
      </div>

    </div>
    <p class="free__descr">
      Выбирая нас, вы выбираете надежного партнера, который поможет вашему бизнесу расти и развиваться. Мы здесь, чтобы
      помочь
      вам преуспеть в цифровом мире. Давайте вместе создадим историю успеха вашего бизнеса!
    </p>
    <p class="free__subtitle">
    <span>Статьи пишутся экспертами</span>
      в сфере вашего бизнеса
    </p>
    <p class="free__accent">
      Ведем все задачи в Asana, демонстрируем вам в Trello, чтобы в режиме реального времени вы видели процесс работы.
    </p>
    <ul class="list-reset free__list">
      <li class="free__item">
        Контент-мендежеры
      </li>
      <li class="free__item">
        Специалист по веб-аналитике
      </li>
      <li class="free__item">
        Семантист
      </li>
      <li class="free__item">
        Копирайтеры
      </li>
      <li class="free__item">
        Руководитель команды
      </li>
      <li class="free__item">
        Проект-менеджер
      </li>
      <li class="free__item">
        Маркетолог
      </li>
    </ul>
  </div>
</section>
