<section class="grid">
  <div class="container">
    <p class="grid__accent">
      Почему мы уверены, что работает?
    </p>
    <h2 class="grid__title">
      Наши клиенты не особо <br>
      любят хвалиться результатами
    </h2>
    <p class="grid__text">
      Они имеют стабильный поток SEO трафика
      и лишний раз не афишируют свои сайты
    </p>
    <p class="grid__descr">
      Но мы нашли несколько компаний готовых показать
    </p>
    <div class="grid__grid">
      <img loading="lazy" src="img/grid-img.svg" class="grid__img image" width="912" height="520" alt="img">
      <img loading="lazy" src="img/grid-img.svg" class="grid__img image" width="912" height="520" alt="img">
      <img loading="lazy" src="img/grid-img.svg" class="grid__img image" width="912" height="520" alt="img">
      <img loading="lazy" src="img/grid-img.svg" class="grid__img image" width="912" height="520" alt="img">
      <img loading="lazy" src="img/grid-img.svg" class="grid__img image" width="912" height="520" alt="img">
    </div>
  </div>
</section>
