<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title">
          <span class="hero__span">SEO продвижение сайтов</span>
          на базе искуственного интеллекта, <span class="hero__span">которое работает</span>
        </h1>
        <p class="hero__text">
          Забудьте старые методы. Они не дают результатов в 2024. <br>
          Сайты прошедшие нашу технологию готовы привлекать много клиентов
        </p>
        <p class="hero__descr">
          Получите аудит пригодности к продвижению
        </p>
        <form class="hero__box">
          <input type="tel" class="input-reset hero__input" id="phone" placeholder="(___)___-__-__">
          <button class="btn-reset hero__btn">Получить аудит</button>
        </form>
        <p class="hero__caption">
          Нажимая кнопку “Получить аудит” вы соглашаетесь с условиями политики конфиденциальности
        </p>
      </div>

      <canvas  class="hero__3d" width="1000" height="900" id="canvas3d"></canvas>


    </div>



  </div>
</section>
