<section class="list">
  <div class="container">
    <h2 class="list__title">
      Почему неэффективно заказывать у других
    </h2>
    <div class="list__content">
      <div class="list__box">
        <p class="list__subtitle">
          Другие
        </p>
        <ul class="list-reset list__list">
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Шаблонный алгоритм
              </p>
              <p class="list__text">
                Без учета специфики проекта. Однообразная навигация, скролл сверху-вниз, клики на случайные элементы
              </p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Массовые прокси-адреса
              </p>
              <p class="list__text">
                География ограничена двумя, тремя городами, низкая скорость, находятся  в спам-листах
              </p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Аккаунты без истории
              </p>
              <p class="list__text">
                Применяют новые или малоактивные аккаунты, несостыковка интересов
              </p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Массовый софт
              </p>
              <p class="list__text">
                Работа на программах, которые легко вычисляются Яндексом. Роботность в метрике 50+%
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="list__box">
        <p class="list__subtitle">
          Наша технология
        </p>
        <ul class="list-reset list__list">
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Поведенческий анализ каждого сайта
              </p>
              <p class="list__text">
                Анализируем данные с Яндекс.Метрики, для адаптации алгоритмов под каждый сайт. Поведение не отличимо от реального
                человека
              </p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Своя база прокси
              </p>
              <p class="list__text">
                Регион совпадает с продвигаемым сайтом. Проводим "очеловечивание" адресов
              </p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Старые аккаунты Яндекса с многолетней историей
              </p>
              <p class="list__text">
                Делаем нагул на своих фермах на интересы и поведение в поиске
              </p>
            </div>
          </li>
          <li class="list__item">
            <div class="list__inner">
              <p class="list__name">
                Собственный софт
              </p>
              <p class="list__text">
                Проходит любые антибот проверки, роботность меньше 0,2%
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
