<div class="graph-modal">
  <div class="graph-modal__container  graph-modal__container--accent {

  }" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content ">
      <p class="graph-modal__title">
        Получить аудит пригодности
      </p>
      <form action="#" class="graph-modal__form">

        <input type="text" name="Имя" class="input-reset graph-modal__input" placeholder="Имя">
        <input type="text" name="Телефон" class="input-reset graph-modal__input" placeholder="Телефон">
        <button class="btn-reset graph-modal__btn">Отправить</button>
      </form>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <p class="graph-modal__subtitle">
        Что это такое?
      </p>
      <p class="graph-modal__descr">
        Яндекс следит за вашими посетителями сайта считывая данные:
      </p>
      <ul class="list-reset graph-modal__list">
        <li class="graph-modal__item">
          сколько проводят время?
        </li>
        <li class="graph-modal__item">
          что делают, куда переходят?
        </li>
        <li class="graph-modal__item">
          сколько страниц и какие посещают?
        </li>
        <li class="graph-modal__item">
          уходят назад в поиск к конкурентам или остаются у вас
        </li>
        <li class="graph-modal__item">
          и десятки других данных
        </li>

      </ul>
      <p class="graph-modal__text">
        По собранным показателям они сравнивают ваш сайт с конкурентами. <br>
        Если ваш сайт показывает плохие поведенческие данные, он не растет в выдаче
      </p>
      <p class="graph-modal__accent">
        Наш сервис делает так, чтобы вы были лучше конкурентов по ПОВЕДЕНЧЕСКИМ ФАКТОРАМ и росли позиции
      </p>
      <button class="btn-reset graph-modal__btn" data-graph-path="modal">Получить аудит</button>
    </div>
  </div>
</div>
