<section class="options">
  <div class="container">
    <h2 class="options__title">
      На этом все <br>
      У вас остается не так много вариантов
    </h2>
    <div class="options__content">
      <p class="options__subtitle options__subtitle--one">
        Продолжать закупать платную рекламу
      </p>
      <div class="options__wrapper">
        <img loading="lazy" src="img/options-proc.webp" class="options__img image" width="81" height="81" alt="img">
        <div class="options__pulse options__pulse--one"></div>
        <div class="options__pulse options__pulse--two"></div>
        <div class="options__pulse options__pulse--three"></div>
        <img loading="lazy" src="img/options-svg-1.svg" class="options__item image" width="36" height="36" alt="img">
        <img loading="lazy" src="img/options-svg-2.svg" class="options__item image" width="36" height="36" alt="img">
        <img loading="lazy" src="img/options-svg-3.svg" class="options__item image" width="36" height="36" alt="img">
        <img loading="lazy" src="img/options-svg-4.svg" class="options__item image" width="36" height="36" alt="img">
        <img loading="lazy" src="img/options-svg-5.svg" class="options__item image" width="36" height="36" alt="img">

      </div>
      <svg class="options__lines" width="1634" height="602" viewBox="0 0 1634 602" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1 2.70271C152.834 168.717 320.784 242.36 537.931 242.36C755.079 242.36 828.027 242.36 1096.91 242.36C1365.8 242.36 1528.25 122.318 1633 1M1 167.997C157.825 240.235 285.75 272.105 536.5 272.105C787.25 272.105 833.15 272.105 1097.5 272.105C1361.85 272.105 1484.68 235.136 1633 167.997M1 301H1633M1 433.578C157.825 361.34 285.75 329.47 536.5 329.47C787.25 329.47 833.15 329.47 1097.5 329.47C1361.85 329.47 1484.68 366.439 1633 433.578M1 599.297C152.834 433.283 320.784 359.64 537.931 359.64C755.079 359.64 828.027 359.64 1096.91 359.64C1365.8 359.64 1528.25 479.682 1633 601"
          stroke="url(#paint0_linear_348_344)" />
        <defs>
          <linearGradient id="paint0_linear_348_344" x1="1.35955" y1="301" x2="1632.64" y2="301"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#EEF4FF" stop-opacity="0" />
            <stop offset="0.544339" stop-color="#004FDF" />
            <stop offset="1" stop-color="#EEF4FF" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
      <p class="options__subtitle options__subtitle--two">
        Самим тестировать способы для получения SEO трафика
      </p>

    </div>
    <p class="options__accent">
      Или снять с себя все проблемы начав <span>получать бесплатные заходы из поиска</span>
    </p>
  </div>
</section>
