<section class="othcet">
  <div class="container">

    <h2 class="othcet__title">
      На всем протяжении работы <span>будете получать отчеты</span>
    </h2>
    <div class="othcet__content">
      <span class="othcet__item">Отчеты о проделанной работе</span>
      <span class="othcet__item">Отчеты по аналитике</span>
      <span class="othcet__item">Промежуточные результаты</span>
      <img loading="lazy" src="img/othcet-docx.webp" class="othcet__img image" width="747" height="468" alt="img">
      <img loading="lazy" src="img/circle-1.svg" class="othcet__circle image" width="1079" height="1079" alt="svg">
      <img loading="lazy" src="img/circle-2.svg" class="othcet__circle image" width="979" height="979" alt="svg">
      <img loading="lazy" src="img/circle-3.svg" class="othcet__circle image" width="879" height="879" alt="svg">
    </div>




  </div>
</section>
