  <section class="panel">
  <div class="container">
    <h2 class="panel__title">
      Скорее всего, вы создавали сайт, чтобы в легкости получать бесплатный трафик и зарабытывать большие деньги
    </h2>
    <p class="panel__accent">
      А пока он вам приносит одни расстройства
    </p>
    <div class="panel__wrapper">
      <div class="panel__scroll">
        <img loading="lazy" src="img/docx.webp" class="panel__img image" width="1212" height="563" alt="img">
      </div>
    </div>
  </div>
</section>
