<section class="pay">
  <div class="container">
    <h1 class="pay__title">
      Оплата услуг
    </h1>
    <p class="pay__accent">
      Оплатить услуги вы можете одним из удобных вам способом:
    </p>
    <div class="pay__content">
      <div class="pay__item">
        <p class="pay__count">
          01
        </p>
        <p class="pay__descr">
          У нас в офисе по адресу:
        </p>
        <p class="pay__address">г. Уфа, ул. Зорге 35, офис 23</p>
        <p class="pay__descr">
          Если вопрос срочный, позвоните на телефон
        </p>
        <a href="#" class="pay__phone">+7 499 346-73-01</a>
        <a href="#" class="pay__map">Посмотреть офис на карте</a>
      </div>
      <div class="pay__item">
        <p class="pay__count">
          02
        </p>
        <p class="pay__subtitle">
          По следующим реквизитам (для выставления счета свяжитесь с менеджером):
        </p>
        <p class="pay__text">
          ОАО «Сбербанк России» г. Москва <br>
          Расчетный счет 40702810438040030010 <br>
          БИК 044525225 <br>
          Корреспондентский счет 30101810400000000225 <br>
          <br>
          Общество с ограниченной ответственностью Юридическая компания «Старт» Сокращенное наименование ООО «Юрстарт» <br>
          ИНН 7702793360
        </p>
      </div>
      <div class="pay__item">
        <p class="pay__count">
          03
        </p>
        <p class="pay__subtitle">
          Оплатить прямо сейчас при помощи сервиса Юкасса банковской картой
        </p>
        <button class="btn-reset pay__btn" data-graph-path="modal">Перейти к оплате услуг</button>
      </div>
    </div>
  </div>
</section>
