<section class="price">
  <div class="container">
    <h2 class="price__title">
      Цена доступная каждому нормально работающему бизнесу с постоянной прибылью
    </h2>
    <p class="price__text">
      Часто бизнес больше тратит денег на рекламу без окупаемости
    </p>

  </div>
  <div class="price__content">
    <div class="price__circle price__circle--one"></div>
    <div class="price__circle price__circle--two"></div>
    <img loading="lazy" src="img/price-bg.svg" class="price__line image" width="1632" height="600" alt="img">
    <div class="price__main">
    </div>
    <div class="price__wrapper">
      <p class="price__subtitle">
        Средняя цена наших услуг
      </p>
      <p class="price__accent">
        60 000-80 000 Р
      </p>
      <p class="price__subtitle">
        за 500 ключевых слов
      </p>
    </div>
  </div>
</section>
