<section class="quest">
  <div class="container">
    <h2 class="quest__title">Вас может интересовать</h2>
    <ul class="list-reset quest__list">
      <li class="quest__item">
        <div class="quest__inner">
          <h3 class="quest__name">Когда мы увидим рост позиций?</h3>
          <button class="btn-reset quest__btn"></button>
        </div>
        <p class="quest__text">
          Не следует, однако, забывать, что начало повседневной работы по формированию позиции требует анализа позиций,
          занимаемых
          участниками в отношении поставленных задач. Вот вам яркий пример современных тенденций — реализация намеченных
          плановых
          заданий позволяет выполнить важные задания по разработке анализа существующих паттернов поведения. <br>

      </li>
      <li class="quest__item">
        <div class="quest__inner">
          <h3 class="quest__name">Сколько стоит?</h3>
          <button class="btn-reset quest__btn"></button>
        </div>
        <p class="quest__text">
          Не следует, однако, забывать, что начало повседневной работы по формированию позиции требует анализа позиций,
          занимаемых
          участниками в отношении поставленных задач. Вот вам яркий пример современных тенденций — реализация намеченных
          плановых

        </p>
      </li>
      <li class="quest__item">
        <div class="quest__inner">
          <h3 class="quest__name">Какие гарантии?</h3>
          <button class="btn-reset quest__btn"></button>
        </div>
        <p class="quest__text">
          Не следует, однако, забывать, что начало повседневной работы по формированию позиции требует анализа позиций,
          занимаемых
          участниками в отношении поставленных задач. Вот вам яркий пример современных тенденций — реализация намеченных
          плановых
          заданий позволяет выполнить важные задания по разработке анализа существующих паттернов поведения. <br>

        </p>
      </li>
      <li class="quest__item">
        <div class="quest__inner">
          <h3 class="quest__name">А можете ли проанализировать как скоро мы попадем в ТОП</h3>
          <button class="btn-reset quest__btn"></button>
        </div>
        <p class="quest__text">
          Не следует, однако, забывать, что начало повседневной работы по формированию позиции требует анализа позиций,
          занимаемых
          участниками в отношении поставленных задач. Вот вам яркий пример современных тенденций — реализация намеченных
          плановых
          заданий позволяет выполнить важные задания по разработке анализа существующих паттернов поведения. <br>

        </p>
      </li>
      <li class="quest__item">
        <div class="quest__inner">
          <h3 class="quest__name">Какие методы используете?</h3>
          <button class="btn-reset quest__btn"></button>
        </div>
        <p class="quest__text">
          Не следует, однако, забывать, что начало повседневной работы по формированию позиции требует анализа позиций,
          занимаемых
          участниками в отношении поставленных задач. Вот вам яркий пример современных тенденций — реализация намеченных
          плановых
          заданий позволяет выполнить важные задания по разработке анализа существующих паттернов поведения. <br>

        </p>
      </li>
      <li class="quest__item">
        <div class="quest__inner">
          <h3 class="quest__name">У меня очень большая конкуренция, поможете?</h3>
          <button class="btn-reset quest__btn"></button>
        </div>
        <p class="quest__text">
          Не следует, однако, забывать, что начало повседневной работы по формированию позиции требует анализа позиций,
          занимаемых
          участниками в отношении поставленных задач. Вот вам яркий пример современных тенденций — реализация намеченных
          плановых
          заданий позволяет выполнить важные задания по разработке анализа существующих паттернов поведения. <br>

        </p>
      </li>
    </ul>

  </div>
</section>
