<section class="rezult">
  <div class="container">
    <div class="rezult__top">
      <h2 class="rezult__title">
        Смотрите результаты клиентов
      </h2>
      <div class="rezult__wrap">
        <p class="rezult__top-text">
          Пишите и звоните по любому вопросу привлечения клиентов на сайт
        </p>
        <button class="btn-reset rezult__btn" data-graph-path="modal">Задать вопрос</button>
      </div>
    </div>
    <div class="rezult__content">
      <div class="rezult__cols">
        <div class="rezult__col">
          <img loading="lazy" src="img/rezult-logo-1.svg" class="rezult__logo image" width="256" height="50" alt="img">
          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Строительная компания ПанельТек
            </p>
            <p class="rezult__text">
              Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и
              реализовано
              более 100
              статей.Был разработан контент план для безопасного и постепенного увеличения
            </p>
          </div>
          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Что надо было сделать
            </p>
            <p class="rezult__text">
              Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и
              реализовано
              более 100
              статей
            </p>
          </div>
          <div class="rezult__counts">
            <div class="rezult__count">
              <span class="rezult__number">
                81
              </span>
              <p class="rezult__descr">
                Трафик в месяц ДО
              </p>
            </div>
          </div>
          <img loading="lazy" src="img/rezult-img-1.webp" class="rezult__img image" width="672" height="421" alt="img">
        </div>
        <div class="rezult__col">

          <p class="rezult__name">
            Строительная компания ПанельТек
          </p>
          <div class="rezult__info">
            <div class="rezult__block">
              <span class="rezult__span">
                Срок
              </span>
              <p class="rezult__action">
                6 месяцев
              </p>
            </div>
            <div class="rezult__block">
              <span class="rezult__span">
                Регион
              </span>
              <p class="rezult__action">
                Москва
              </p>
            </div>
          </div>


          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Что надо было сделать
            </p>
            <p class="rezult__text">
              Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и
              реализовано
              более 100
              статей
            </p>
          </div>
          <div class="rezult__counts">
            <div class="rezult__count">
              <span class="rezult__number">
                816
              </span>
              <p class="rezult__descr">
                Трафик в месяц ПОСЛЕ
              </p>
            </div>
            <div class="rezult__count">
              <span class="rezult__number">
                31
              </span>
              <p class="rezult__descr">
                Заявок в месяц
              </p>
            </div>
          </div>
          <img loading="lazy" src="img/rezult-img-1.webp" class="rezult__img image" width="672" height="421" alt="img">
        </div>
      </div>
      <div class="rezult__cols">
        <div class="rezult__col">
          <img loading="lazy" src="img/rezult-logo-1.svg" class="rezult__logo image" width="256" height="50" alt="img">
          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Продажа тягачей в Москве и РФ
            </p>
            <p class="rezult__text">
              Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и реализовано более 100
              статей.Был разработан контент план для безопасного и постепенного увеличения
            </p>
          </div>
          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Что надо было сделать
            </p>
            <p class="rezult__text">
              Комплексная программа продвижения за счет контент-маркетинга и SEO оптимизации сайта и его характеристик
            </p>
          </div>
          <div class="rezult__counts">
            <div class="rezult__count">
              <span class="rezult__number">
                117
              </span>
              <p class="rezult__descr">
                Трафик в месяц ДО
              </p>
            </div>
          </div>
          <img loading="lazy" src="img/rezult-img-1.webp" class="rezult__img image" width="672" height="421" alt="img">
        </div>
        <div class="rezult__col">

          <p class="rezult__name">
            Строительная компания ПанельТек
          </p>
          <div class="rezult__info">
            <div class="rezult__block">
              <span class="rezult__span">
                Срок
              </span>
              <p class="rezult__action">
                6 месяцев
              </p>
            </div>
            <div class="rezult__block">
              <span class="rezult__span">
                Регион
              </span>
              <p class="rezult__action">
                Москва
              </p>
            </div>
          </div>


          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Что надо было сделать
            </p>
            <p class="rezult__text">
              Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и
              реализовано
              более 100
              статей
            </p>
          </div>
          <div class="rezult__counts">
            <div class="rezult__count">
              <span class="rezult__number">
                1561
              </span>
              <p class="rezult__descr">
                Трафик в месяц ПОСЛЕ
              </p>
            </div>
            <div class="rezult__count">
              <span class="rezult__number">
                108
              </span>
              <p class="rezult__descr">
                Заявок в месяц
              </p>
            </div>
          </div>
          <img loading="lazy" src="img/rezult-img-1.webp" class="rezult__img image" width="672" height="421" alt="img">
        </div>
      </div>
      <div class="rezult__cols">
        <div class="rezult__col">
          <img loading="lazy" src="img/rezult-logo-1.svg" class="rezult__logo image" width="256" height="50" alt="img">
          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Продажа сельхозтехники в РФ
            </p>
            <p class="rezult__text">
              Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и реализовано более 100
              статей.Был разработан контент план для безопасного и постепенного увеличения
            </p>
          </div>
          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Что надо было сделать
            </p>
            <p class="rezult__text">
              Оптимизация сайта по SEO характеристикам и параметрам и реализация многогранной стратегии контент-маркетинга
            </p>
          </div>
          <div class="rezult__counts">
            <div class="rezult__count">
              <span class="rezult__number">
                12417
              </span>
              <p class="rezult__descr">
                Трафик в месяц ДО
              </p>
            </div>
          </div>
          <img loading="lazy" src="img/rezult-img-1.webp" class="rezult__img image" width="672" height="421" alt="img">
        </div>
        <div class="rezult__col">

          <p class="rezult__name">
            Продажа сельхозтехники в РФ
          </p>
          <div class="rezult__info">
            <div class="rezult__block">
              <span class="rezult__span">
                Срок
              </span>
              <p class="rezult__action">
                6 месяцев
              </p>
            </div>
            <div class="rezult__block">
              <span class="rezult__span">
                Регион
              </span>
              <p class="rezult__action">
                Москва
              </p>
            </div>
          </div>


          <div class="rezult__inner">
            <p class="rezult__subtitle">
              Что надо было сделать
            </p>
            <p class="rezult__text">
              Был разработан контент план для безопасного и постепенного увеличения трафика с поисковых систем и реализовано более 100 статей.Был разработан контент план для безопасного и постепенного увеличения
            </p>
          </div>
          <div class="rezult__counts">
            <div class="rezult__count">
              <span class="rezult__number">
                35183
              </span>
              <p class="rezult__descr">
                Трафик в месяц ПОСЛЕ
              </p>
            </div>
            <div class="rezult__count">
              <span class="rezult__number">
                130
              </span>
              <p class="rezult__descr">
                Заявок в месяц
              </p>
            </div>
          </div>
          <img loading="lazy" src="img/rezult-img-1.webp" class="rezult__img image" width="672" height="421" alt="img">
        </div>
      </div>

    </div>
  </div>
</section>
