<section class="seo">
  <div class="container">
    <div class="seo__content">
      <div class="seo__inner">
        <p class="seo__accent">
          А выход оказывается проще, чем кажется
        </p>
        <h2 class="seo__title">
          SEO трафик из поиска не пойдет сам без улучшения
          поведенческих факторов
        </h2>
        <button class="btn-reset seo__btn" data-graph-path="modal1">Что это такое</button>
        <p class="seo__text">
          Работа с ними стала нормой, пользуются все, даже те, кто говорит, что нет
        </p>
      </div>
      <div class="seo__box">
        <p class="seo__subtitle">
          Cтарые способы накрутки ПФ уже не работают
        </p>
        <p class="seo__descr">
          Яндекс поумнел и просто привести ботов недостаточно, словите фильтр
        </p>
        <div class="seo__wrapper">

          <img loading="lazy" src="img/seo-col-1.svg" class="seo__col image" width="115" height="479" alt="svg">
          <img loading="lazy" src="img/seo-col-2.svg" class="seo__col image" width="116" height="439" alt="svg">
          <img loading="lazy" src="img/seo-col-3.svg" class="seo__col image" width="114" height="340" alt="svg">
          <img loading="lazy" src="img/seo-col-4.svg" class="seo__col image" width="114" height="230" alt="svg">
          <img loading="lazy" src="img/seo-col-5.svg" class="seo__col image" width="114" height="143" alt="svg">
          <img loading="lazy" src="img/seo-col-6.svg" class="seo__col image" width="115" height="95" alt="svg">
          <img loading="lazy" src="img/seo-col-7.svg" class="seo__col image" width="73" height="29" alt="svg">
          <div class="seo__arrow-wrapper">
            <svg class="seo__arrow" width="452" height="327" viewBox="0 0 452 327" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M451 324.548C450.973 325.929 449.832 327.026 448.452 327L425.956 326.565C424.575 326.538 423.478 325.397 423.505 324.017C423.531 322.636 424.672 321.539 426.053 321.565L446.049 321.952L446.435 301.956C446.462 300.575 447.603 299.478 448.983 299.505C450.364 299.531 451.461 300.672 451.435 302.053L451 324.548ZM2.08623 0.0697021C77.5823 18.2809 161.271 69.5269 240.152 130.802C319.088 192.119 393.447 263.67 450.302 322.767L446.698 326.233C389.936 267.233 315.762 195.867 237.085 134.75C158.353 73.5912 75.3499 22.8857 0.913765 4.9303L2.08623 0.0697021Z"
                fill="#004FDF" />
            </svg>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
