<section class="shaman">
  <div class="container">
    <h2 class="shaman__title">
      Устали "шаманить над сайтом" не видя результатов
    </h2>

  <div class="shaman__wrapper">
    <p class="shaman__text">
      Возможно поменяли бесчисленное количество SEOшников в надежде, что вот вот позиции вырастут
    </p>
    <svg width="521" height="527" viewBox="0 0 521 527" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="motionPath"
        d="M430.393 67.0991L271.654 2.89275C263.939 -0.22788 255.274 -0.00332248 247.73 3.51275L72.9098 85.0004C65.3107 88.5426 59.5405 95.1031 56.9975 103.092L1.66353 276.931C-0.687139 284.315 -0.0887015 292.324 3.33347 299.277L75.1799 445.262C78.4167 451.838 83.9492 457.003 90.733 459.779L247.519 523.95C255.199 527.094 263.838 526.916 271.382 523.458L447.212 442.875C454.848 439.376 460.667 432.834 463.255 424.842L519.517 251.032C521.912 243.635 521.341 235.598 517.925 228.614L446.094 81.7308C442.844 75.0843 437.252 69.8734 430.393 67.0991Z"
        fill="url(#paint0_linear_348_561)" />
      <defs>
        <linearGradient id="paint0_linear_348_561" x1="260.625" y1="-2" x2="260.625" y2="528.877"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#4385FF" stop-opacity="0" />
          <stop offset="1" stop-color="#F4F8FF" />
        </linearGradient>
      </defs>
    </svg>

    <img loading="lazy" src="img/shaman-svg.svg" class="shaman__svg image" width="17" height="17" alt="svg">
    <svg id="snakeSVG" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
      <defs>
        <linearGradient id="snakeGradient" x1="0" y1="0" x2="1" y2="0">
          <stop offset="0%" stop-color="#004FDF" />
          <stop offset="100%" stop-color="#004FDF" stop-opacity="0" />
        </linearGradient>
      </defs>
      <path id="snakePath" stroke="url(#snakeGradient)" stroke-width="3" fill="none" />
    </svg>

    <img loading="lazy" src="img/shaman-img-1.webp" class="shaman__img image" width="80" height="80" alt="img">
    <img loading="lazy" src="img/shaman-img-2.webp" class="shaman__img image" width="80" height="80" alt="img">
    <img loading="lazy" src="img/shaman-img-3.webp" class="shaman__img image" width="80" height="80" alt="img">
    <img loading="lazy" src="img/shaman-img-4.webp" class="shaman__img image" width="80" height="80" alt="img">
    <img loading="lazy" src="img/shaman-img-5.webp" class="shaman__img image" width="80" height="80" alt="img">
    <img loading="lazy" src="img/shaman-img-5.webp" class="shaman__img image" width="80" height="80" alt="img">
    <img loading="lazy" src="img/shaman-img-5.webp" class="shaman__img image" width="80" height="80" alt="img">
    <img loading="lazy" src="img/shaman-img-5.webp" class="shaman__img image" width="80" height="80" alt="img">


  </div>




  </div>
</section>

