<section class="shild">
  <div class="container">
    <h2 class="shild__title">
      Защищены от попадания
      под фильтр
    </h2>
    <p class="shild__descr">
      Наш метод - это не тупая накачка сайта переходами ботов
    </p>
    <p class="shild__accent">Используем продвинутый искусственный интеллект</p>
    <div class="shild__wrapper">
      <div class="shild__item">
        <p class="shild__text">
          Настраиваем свою программу на основе ИИ для вашего сайта
        </p>
        <span class="shild__count">01</span>
      </div>
      <div class="shild__item">
        <p class="shild__text">
          Далее она интегрируется с Яндекс.Метрикой
          и анализирует показатели сайта,
          а также историю поведения пользователей
          на сайте с помощью инструмента "Вебвизор"
        </p>
        <span class="shild__count">02</span>
      </div>
      <div class="shild__item">
        <p class="shild__text">
          На основе полученного анализа генерирует сотни новых вариантов поведения пользователей на сайте
          Они максимально схожи с реальными действиями, что делает их неотличимыми для алгоритмов Яндекса
        </p>
        <span class="shild__count">03</span>
      </div>

      <img loading="lazy" src="img/shild-circle-1.svg" class="shild__circle shild__circle--one image" width="1079" height="1079" alt="svg">
      <img loading="lazy" src="img/shild-circle-2.svg" class="shild__circle shild__circle--two image" width="979" height="979" alt="svg">

      <canvas  class="shild__3d"  width="1040" height="740"></canvas>
    </div>
    <p class="shild__subtitle">
      <span>В итоге, программа обучается в режиме онлайн
      на основе действий реальных посетителей вашего сайта, </span>
      что исключает возможность их обнаружения Яндексом
    </p>
  </div>
</section>
