<section class="top">

  <h2 class="top__title">
    Мы хорошо вас понимаем
    Вы 1 из 1000 претендентов  на позиции в ТОП 3
  </h2>
  <p class="top__descr">
    Яндекс с каждым днем закручивает гайки все сильнее
  </p>
  <div class="top__content">
    <img loading="lazy" src="img/top-box-1.svg" class="top__grup top__grup--one image" width="815" height="662" alt="svg">
    <div class="top__box">
      <img loading="lazy" src="img/top-box-2.svg" class="top__grup--three image" width="864" height="662" alt="svg">
      <img loading="lazy" src="img/top-accent.svg" class="top__accent image" width="292" height="401" alt="svg">
    </div>

    <img loading="lazy" src="img/top-box-3.svg" class="top__grup top__grup--two image" width="815" height="662" alt="svg">
  </div>
  <svg class="top__radial top__radial--one" width="854" height="1220" viewBox="0 0 854 1220" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.3" filter="url(#filter0_f_348_346)">
      <circle cx="244" cy="610" r="410" fill="url(#paint0_linear_348_346)" />
    </g>
    <defs>
      <filter id="filter0_f_348_346" x="-366" y="0" width="1220" height="1220" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_348_346" />
      </filter>
      <linearGradient id="paint0_linear_348_346" x1="244" y1="200" x2="244" y2="1020" gradientUnits="userSpaceOnUse">
        <stop stop-color="#42DDFF" />
        <stop offset="1" stop-color="#1170FF" stop-opacity="0.46" />
      </linearGradient>
    </defs>
  </svg>
  <svg class="top__radial top__radial--two" width="854" height="1220" viewBox="0 0 854 1220" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.3" filter="url(#filter0_f_348_346)">
      <circle cx="244" cy="610" r="410" fill="url(#paint0_linear_348_346)" />
    </g>
    <defs>
      <filter id="filter0_f_348_346" x="-366" y="0" width="1220" height="1220" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_348_346" />
      </filter>
      <linearGradient id="paint0_linear_348_346" x1="244" y1="200" x2="244" y2="1020" gradientUnits="userSpaceOnUse">
        <stop stop-color="#184BFF" stop-opacity="0" />
        <stop offset="1" stop-color="#174AFF" />
      </linearGradient>
    </defs>
  </svg>

</section>
