<section class="trafic">
  <div class="container">
    <h2 class="trafic__title">
      Что по срокам получения трафика и стоимости?
    </h2>
    <div class="trafic__content">
      <div class="trafic__box">
        <p class="trafic__accent">
          Сайт пригоден для продвижения
        </p>
        <p class="trafic__text">
          Срок - до 1 месяца
        </p>
        <img loading="lazy" src="img/trafic-img-1.webp" class="trafic__img image" width="325" height="656" alt="img">
      </div>
      <div class="trafic__box">
        <p class="trafic__accent">
          Сайт пригоден для продвижения
        </p>
        <p class="trafic__text">
          Срок - до 3х месяцев
        </p>
        <img loading="lazy" src="img/trafic-img-2.webp" class="trafic__img image" width="325" height="656" alt="img">
      </div>
    </div>
  </div>
</section>
