<section class="was">
  <div class="container">
    <h2 class="was__title">
      Но не тут то было
    </h2>
    <div class="was__content">
      <span class="was__item">Делают действия ради действий</span>
      <span class="was__item">Присылают "пустые отчеты"</span>
      <span class="was__item">"Кормят вас завтраками", что надо еще подождать</span>
      <img loading="lazy" src="img/was-phone.webp" class="was__phone image" width="424" height="844" alt="img">
      <img loading="lazy" src="img/circle-1.svg" class="was__circle image" width="1079" height="1079" alt="svg">
      <img loading="lazy" src="img/circle-2.svg" class="was__circle image" width="979" height="979" alt="svg">
      <img loading="lazy" src="img/circle-3.svg" class="was__circle image" width="879" height="879" alt="svg">
    </div>
    <div class="was__wrapper">
      <p class="was__subtitle">
        А оплату за свои услуги они хотят регулярную вне зависимости вышел ваш сайт в ТОП или нет
      </p>
      <p class="was__text">
        Она может достигать десятки и сотни тысяч рублей в месяц
      </p>
    </div>

  </div>
</section>
